body {
background-color: rgb(250, 222, 245);
font-family: 'Segoe UI', 'Roboto', Arial, Helvetica, sans-serif;
color: #222;
line-height: 1.75;
margin: 0;
padding: 2rem;
}

ol {
    font-weight: bold;
    color: black;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}
ol li {
    margin-bottom: 0.5rem;
}


ul{
   font-weight: 500;
   color: #444;
   padding-left: 1.5rem;
}

ul li {
    margin-bottom: 0.5rem;
}

h1{
    font-style: italic;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: black ;

}

.video-container {
    position: relative;
    width: 100%;
    max-width: 560px; /* optional: cap the width */
    margin: 0 auto; /* centers the container */
    padding-bottom: 31.25%; /* 16:9 aspect ratio */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
